<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijv.dao.IHouseDao">

    <!-- 全部查询房源信息 -->
    <select id="findFourHouse" parameterType="java.lang.Integer" resultType="com.yijv.pojo.HouseView">
        select *
        from tb_house as a,tb_house_info as b
        where a.house_id = b.house_id
        and a.is_delete = 0
        and a.house_type = #{houseType}
        order by rand() limit 4
    </select>

    <select id="findAllHouseByHouseType" parameterType="Integer" resultType="com.yijv.pojo.HouseView">
        select *
        from tb_house as a,tb_house_info as b
        where a.house_id = b.house_id
        and a.is_delete = 0
        and a.house_type = #{houseType}
    </select>

    <select id="findHouseById" parameterType="Integer" resultType="com.yijv.pojo.HouseView">
        select *
        from tb_house as a,tb_house_info as b
        where a.house_id = b.house_id
        and a.is_delete = 0
        and a.house_id = #{id}
    </select>
</mapper>